pkgbase = writedoc
	pkgdesc = A fast way of creating and editing notes using neovim without defining a file path
	pkgver = 2.0
	pkgrel = 5
	url = https://github.com/Chiron8/writedoc
	arch = any
	license = MIT
	depends = nvim
	depends = sh
	source = writedoc
	source = directory.txt
	source = ft.txt
	source = writedoc.1
	source = README.md
	source = LICENSE
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = writedoc
